:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding: 60px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* 
I'll have more react router links than anchors to websites, so it's easier
to make the default Link unstyled and add an explicit "default" class for
external anchors.
*/
a.default {
  font-weight: 700;
  text-decoration: underline;
}

a.default:hover {
  color: var(--color-chart-2);
}
